---
title: Организация корпоративов, квестов, тимбилдингов, игр в Чебоксарах
body_class: main
---
.container
  .content
    .row-fluid.header-block
      .span3
        .logo
      .span9
        .header-block-title
          Организация корпоративных мероприятий, тренингов, квестов
        .header-block-subtitle
          в Чебоксарах и по всей Чувашии.
        .header-block-nav
          = link_to 'Проекты', 'projects.html'
          %span
            .sprite-vert-line
          = link_to 'О квестах', 'quests.html'
          %span
            .sprite-vert-line
          = link_to 'Кто мы', 'about.html'
          %span
            .sprite-vert-line
          = link_to 'Контакты', 'contacts.html'
        .header-block-contact
          = link_to 'tel:+79026631399' do
            .header-block-phone
              8-902-663-13-99
          = link_to 'tel:291399' do
            .header-block-phone
              29-13-99
          %a.yellow-btn{"data-toggle" => "modal", href: "#modal-callback", type: "button"} Заказать звонок
          .modal{id: "modal-callback", :style => "display: none;"}
            .button-close
              %a.close{"data-dismiss" => "modal"}×
            .callback-block-border
              .callback-block
                .callback-block-title
                  Отправьте заявку
                  %br
                  ПРЯМО СЕЙЧАС:
                %form#callbackForm{action: "/sendmail.php", method: "post"}
                  %input#name.formBodyInput{maxlength: "20", name: "name", type: "text", placeholder: "Введите имя:", 'data-validation' => "length", 'data-validation-length' => "min3"}
                  %input#phone.formBodyInput.iphone{maxlength: "11", name: "email", type: "text", placeholder: "Введите телефон:", 'data-validation' => "length", 'data-validation-length' => "min10"}
                  %textarea#msg{name: "msg", placeholder: "Ваш комментарий:", rows: 5}
                  %input.yellow-submit{name: "commit", type: "submit", value: "Отправить заявку"}
    .row-fluid.header-block-line
    .row-fluid.carousel-row
      .carousel-block
        #myCarousel.carousel.slide
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "4", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "5", "data-target" => "#myCarousel"}
          .carousel-inner
            .item.active
              %img{title: "", alt: "", src: "images/promote/1.jpg"}
              .caption
                %strong Промо квесты
                .text
                  Рекламируют товары, услуги, события
                  на улицах города и в сети так, что
                  участники получают удовольствие и
                  рассказывают друзьям о впечатлениях.
                %a.more{href: "quests.html#promo"} Подробнее
            .item
              %img{title: "", alt: "", src: "images/promote/2.jpg"}
              .caption
                %strong Развлекательные квесты
                .text
                  Развлекают сотрудников компании,
                  преобразуя обычный выезд на отдых
                  в увлекательное экстремальное
                  приключение с элементами экскурсии.
                %a.more{href: "quests.html#entertaining"} Подробнее
            .item
              %img{title: "", alt: "", src: "images/promote/3.jpg"}
              .caption
                %strong Образовательные квесты
                .text
                  Помогают обучить персонал компании,
                  студентов или детей в форме уличного
                  приключения. Команды соперничают друг
                  с другом, демонстрируя лучшее владение
                  выученным материалом. 
                %a.more{href: "quests.html#educational"} Подробнее
            .item
              %img{title: "", alt: "", src: "images/promote/4.jpg"}
              .caption
                %strong Социальные квесты
                .text
                  Развлекательные игры для инвалидов,
                  детей-сирот, участников социальных
                  порограмм. Заказываются компаниями
                  в качестве благотворительных мероприятий.
                %a.more{href: "quests.html#social"} Подробнее
            .item
              %img{title: "", alt: "", src: "images/promote/5.jpg"}
              .caption
                %strong Реалити квест-шоу
                .text
                  Яркие и динамичные телевизионные квест-шоу,
                  будут востребованы молодёжной аудиторией
                  любого телеканала. Также существует 
                  игровой формат для радиостанций.
                %a.more{href: "quests.html#show"} Подробнее
            .item
              %img{title: "", alt: "", src: "images/promote/6.jpg"}
              .caption
                %strong Сделате квесты сами
                .text
                  Сценарии, советы и примеры игровых
                  заданий помогут вам самостоятельно
                  организовать развлекательный квест
                  для ваших коллег или друзей.
                %a.more{href: "quests.html"} Подробнее
          %a.left.carousele-control{"data-slide" => "prev", href: "#myCarousel"}
          %a.right.carousele-control{"data-slide" => "next", href: "#myCarousel"}
      .carousel-nav
        = link_to '/' do
          %li
            %strong Тимбилдинг
            (приключения, квест, спорт)
        .sprite-horiz-line
        = link_to '/' do
          %li
            %strong Тренинги
            (командообразование, психология)
        .sprite-horiz-line
        = link_to '/' do
          %li
            %strong Путешествия
            (поездки, экскурсии, экстрим)
        .sprite-horiz-line
        = link_to '/' do
          %li
            %strong Праздники
            (корпоративные, дни рождения)
        .sprite-horiz-line
        = link_to '/' do
          %li
            %strong Реклама
            (промо-квесты и др.)
    .block-about
      .row-fluid
        .span12.block-about-title
          .sprite-horiz-line
          .sprite-horiz-line2
          .block-about-title-text
            О нас
      .row-fluid
        .span12.block-about-info
          .block-about-info-text
            %p Мы - игровое агентство "Clever".
            %p Организация тимбилдинга, корпоративных квестов, креативного тимбилдинга, спортивного тимбилдинга, приключенческих программ, активных командообразующих мероприятий, игр, корпоративных приключений - наша сильная сторона.
            %p Доверив организацию и проведение team building - мероприятия нашей компани, вы получите неформальный коллективный праздник, воспоминания о котором будут долго согревать ваши сердца.
          %img{title: "", alt: "", src: "images/about.jpg"}
    .our-programs
      .row-fluid
        .span12.our-programs-title
          .sprite-horiz-line
          .sprite-horiz-line2
          .our-programs-title-text
            Наши программы
      .row
        .our-programs-info
          .span3
            = link_to '/' do
              .img{ style: 'background-image: url(images/program/1.jpg);'}
              %strong На природе
          .span3
            = link_to '/' do
              .img{ style: 'background-image: url(images/program/2.jpg);'}
              %strong В офисе/ресторане
          .span3
            = link_to '/' do
              .img{ style: 'background-image: url(images/program/3.jpg);'}
              %strong Детский праздник
          .span3
            = link_to '/' do
              .img{ style: 'background-image: url(images/program/4.jpg);'}
              %strong Тренинги
          .span3
            = link_to '/' do
              .img{ style: 'background-image: url(images/program/5.jpg);'}
              %strong Путешествия
          .span3
            = link_to '/' do
              .img{ style: 'background-image: url(images/program/6.jpg);'}
              %strong Экстрим
          .span3
            = link_to '/' do
              .img{ style: 'background-image: url(images/program/7.jpg);'}
              %strong Промо-игры
          .span3
            = link_to '/' do
              .img{ style: 'background-image: url(images/program/8.jpg);'}
              %strong Прочее
    .take-over
      .row-fluid
        .span12.take-over-title
          .take-over-title-text
            Мы можем на себя взять
      .row
        .take-over-info
          .span3
            .sprite-screenplay
            %strong
              Качественную
              %br
              проработку
              %br
              сценария
          .span3
            .sprite-animator
            %strong
              Подбор
              %br
              ведущего,
              %br
              аниматоров
          .span3
            .sprite-decor
            %strong
              Оформление,
              %br
              праздничный
              %br
              декор
          .span3
            .sprite-photo
            %strong
              Фото/
              %br
              видео
              %br
              сьемку
          .span3
            .sprite-play
            %strong
              Проведение
              %br
              мероприятия
          .span3
            .sprite-transport
            %strong Транспорт
          .span3
            .sprite-keitering
            %strong Кейтеринг
          .span3
            .sprite-poligraf
            %strong
              Полиграфическую
              %br
              продукцию
    .entrust
      .row-fluid
        .span12.entrust-title
          .entrust-title-text
            Доверьте организацию мероприятия профессионалам
      .entrust-info
        .row
          .span8
            .how-it-work
              Как это работает:
            .how-it-work-item
              %li
                Вы оставляете заявку или звоните нам
                .sprite-okay
              %li
                Мы встречаемся с вами, уточняем подробности и ваши желания
                .sprite-okay
              %li
                Мы готовим 3 варианта сценария интересующего вас мероприятия
                .sprite-okay
              %li
                Утверждаем сценарий, тщательно прорабатываем детали
                .sprite-okay
              %li
                Подготовим и проведем мероприятие
                .sprite-okay
          .span4
            .callback-block-border
              .callback-block
                .callback-block-title
                  Отправьте заявку
                  %br
                  ПРЯМО СЕЙЧАС:
                %form#callbackForm{action: "/sendmail.php", method: "post"}
                  %input#name.formBodyInput{maxlength: "20", name: "name", type: "text", placeholder: "Введите имя:", 'data-validation' => "length", 'data-validation-length' => "min3"}
                  %input#phone.formBodyInput.iphone{maxlength: "11", name: "email", type: "text", placeholder: "Введите телефон:", 'data-validation' => "length", 'data-validation-length' => "min10"}
                  -#.input-header Ваша эл.почта
                  -#%input#email.formBodyInput{maxlength: "100", name: "email", type: "text"}
                  -#.input-header Сообщение
                  -#%textarea#msg{name: "msg"}
                  %input.yellow-submit{name: "commit", type: "submit", value: "Отправить заявку"}
        .row
          .how-it-work-result
            .sprite-arrow
            Вы получаете позитивные эмоции и отличные отзывы участников
            .sprite-okay
    .feedback
      .row-fluid
        .span12.feedback-title
          .feedback-title-text
            Отзывы наших клиентов
      .row-fluid
        .span12.feedback-info
          #feedbackCarousel.carousel.slide
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#feedbackCarousel"}
              %li{"data-slide-to" => "1", "data-target" => "#feedbackCarousel"}
              %li{"data-slide-to" => "2", "data-target" => "#feedbackCarousel"}
            .carousel-inner
              .item.active
                .border-img
                  %img{title: "", alt: "", src: "images/feedback/otzyvy1.jpg"}
                .caption
                  .text
                    Это было очень необычно, азартно и весело! Понравилось всем, даже самым скептически настроенным! Я в восторге, друзья тоже!Праздник удался на все 100% Ребята, еще раз огромное Вам СПАСИБО!!!
                  %a.more{ href: "/" } Алена Протасевич. Архитектор. Квест на день рождения.
              .item
                .border-img
                  %img{title: "", alt: "", src: "images/feedback/otzyvy2.jpg"}
                .caption
                  .text
                    Ребята готовили для нас ВелоКвест. Сделали все качественно и в срок. На финише у участников велоквеста были только положительные отзывы. Приятно работать с ними, оперативно реагируют на все пожелания.
                  %a.more{ href: "/" } Иван Ярмощук. Руководитель проекта "Hub". ВелоКвест.
              .item
                .border-img
                  %img{title: "", alt: "", src: "images/feedback/otzyvy3.jpg"}
                .caption
                  .text
                    На протяжении нескольких лет сотрудничаю с ребятами из агенства "Clever".
                    %br
                    Они готовили для нас несколько велоквестов, пешеходный квест, автоквест.
                    %br
                    Все эти мероприятия прошли на высоком уровне.
                  %a.more{ href: "/" } Наталья Яшина, PR-менеджер ОАО "МЕГАФОН"
            %a.left.carousel-control{"data-slide" => "prev", href: "#feedbackCarousel"} <
            %a.right.carousel-control{"data-slide" => "next", href: "#feedbackCarousel"} >
    .row-fluid.footer-block-line
    .row-fluid.footer-block
      .span4
        %script{src: "//vk.com/js/api/openapi.js?105", type: "text/javascript"}
        #vk_groups
        :javascript
          VK.Widgets.Group("vk_groups", {mode: 0, width: "300", height: "200", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 53763490);
      .span4
        .logo
      .span4
        .footer-block-contact
          = link_to 'tel:+79026631399' do
            .footer-block-phone
              8-902-663-13-99
          = link_to 'tel:291399' do
            .footer-block-phone
              29-13-99
          = link_to 'mailto:eventquest@mail.ru' do
            .footer-block-email
              eventquest@mail.ru
          .footer-block-link
            = link_to 'Заказать квест', "#modal-callback", "data-toggle" => "modal"
            = link_to 'Сценарии квестов', "/"

    %footer
      Clever © 2014