---
title: Организация корпоративов, квестов, тимбилдингов, игр в Чебоксарах
body_class: main
---
.container
  .content
    .row-fluid.header-block
      .span3
        .logo
      .span9
        .header-block-title
          Организация корпоративных мероприятий, тренингов, квестов
        .header-block-subtitle
          в Чебоксарах и по всей Чувашии.
        .header-block-nav
          = link_to 'Проекты', '/'
          %span|
          = link_to 'О квестах', '/'
          %span|
          = link_to 'Кто мы', '/'
          %span|
          = link_to 'Контакты', '/'
        .header-block-contact
          .header-block-phone
            8-902-663-13-99
          .header-block-phone
            29-13-99
    .row-fluid.header-block-line
    .row-fluid.carousel-row
      .carousel-block
        #myCarousel.carousel.slide
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "4", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "5", "data-target" => "#myCarousel"}
          .carousel-inner
            .item.active
              %img{title: "", alt: "", src: "../images/promote/1.jpg"}
              .caption
                %strong Промо квесты
                .text
                  Развлекают сотрудников компании,
                  преобразуя обычный выезд на отдых
                  в увлекательное экстремальное
                  приключение с элементами экскурсии.
                %a.more{href: "quests.html#entertaining"} Подробнее
            .item
              %img{title: "", alt: "", src: "../images/promote/2.jpg"}
              .caption
                %strong Промо квесты
                .text
                  Развлекают сотрудников компании,
                  преобразуя обычный выезд на отдых
                  в увлекательное экстремальное
                  приключение с элементами экскурсии.
                %a.more{href: "quests.html#entertaining"} Подробнее
            .item
              %img{title: "", alt: "", src: "../images/promote/3.jpg"}
              .caption
                %strong Промо квесты
                .text
                  Развлекают сотрудников компании,
                  преобразуя обычный выезд на отдых
                  в увлекательное экстремальное
                  приключение с элементами экскурсии.
                %a.more{href: "quests.html#entertaining"} Подробнее
            .item
              %img{title: "", alt: "", src: "../images/promote/4.jpg"}
              .caption
                %strong Промо квесты
                .text
                  Развлекают сотрудников компании,
                  преобразуя обычный выезд на отдых
                  в увлекательное экстремальное
                  приключение с элементами экскурсии.
                %a.more{href: "quests.html#entertaining"} Подробнее
            .item
              %img{title: "", alt: "", src: "../images/promote/5.jpg"}
              .caption
                %strong Промо квесты
                .text
                  Развлекают сотрудников компании,
                  преобразуя обычный выезд на отдых
                  в увлекательное экстремальное
                  приключение с элементами экскурсии.
                %a.more{href: "quests.html#entertaining"} Подробнее
            .item
              %img{title: "", alt: "", src: "../images/promote/6.jpg"}
              .caption
                %strong Промо квесты
                .text
                  Развлекают сотрудников компании,
                  преобразуя обычный выезд на отдых
                  в увлекательное экстремальное
                  приключение с элементами экскурсии.
                %a.more{href: "quests.html#entertaining"} Подробнее
          %a.left.carousele-control{"data-slide" => "prev", href: "#myCarousel"}
          %a.right.carousele-control{"data-slide" => "next", href: "#myCarousel"}
      .carousel-nav
        = link_to '/' do
          %li
            %strong Тимбилдинг
            (приключения, квест, спорт)
        = link_to '/' do
          %li
            %strong Тренинги
            (командообразование, психология)
        = link_to '/' do
          %li
            %strong Путешествия
            (поездки, экскурсии, экстрим)
        = link_to '/' do
          %li
            %strong Праздники
            (корпоративные, дни рождения)
        = link_to '/' do
          %li
            %strong Реклама
            (промо-квесты и др.)
    .block-about
      .row-fluid
        .span12.block-about-title
          .block-about-title-text
            О нас
      .row-fluid
        .span12.block-about-info
          .block-about-info-text
            %p Мы - игровое агентство "Clever".
            %p Организация тимбилдинга, корпоративных квестов, креативного тимбилдинга, спортивного тимбилдинга, приключенческих программ, активных командообразующих мероприятий, игр, корпоративных приключений - наша сильная сторона.
            %p Доверив организацию и проведение team building - мероприятия нашей компани, вы получите неформальный коллективный праздник, воспоминания о котором будут долго согревать ваши сердца.
          %img{title: "", alt: "", src: "../images/promote/5.jpg"}
    .our-programs
      .row-fluid
        .span12.our-programs-title
          .our-programs-title-text
            Наши программы
      .row
        .our-programs-info
          .span3
            = link_to '/' do
              %img{title: "", alt: "", src: "../images/promote/2.jpg"}
              %strong На природе
          .span3
            = link_to '/' do
              %img{title: "", alt: "", src: "../images/promote/1.jpg"}
              %strong В офисе/ресторане
          .span3
            = link_to '/' do
              %img{title: "", alt: "", src: "../images/promote/3.jpg"}
              %strong Детский праздник
          .span3
            = link_to '/' do
              %img{title: "", alt: "", src: "../images/promote/5.jpg"}
              %strong Тренинги
          .span3
            = link_to '/' do
              %img{title: "", alt: "", src: "../images/promote/4.jpg"}
              %strong Путешествия
          .span3
            = link_to '/' do
              %img{title: "", alt: "", src: "../images/promote/6.jpg"}
              %strong Экстрим
          .span3
            = link_to '/' do
              %img{title: "", alt: "", src: "../images/promote/1.jpg"}
              %strong Промо-игры
          .span3
            = link_to '/' do
              %img{title: "", alt: "", src: "../images/promote/3.jpg"}
              %strong Прочее
    .take-over
      .row-fluid
        .span12.take-over-title
          .take-over-title-text
            Мы можем на себя взять
      .row
        .take-over-info
          .span3
            %img{title: "", alt: "", src: "../images/promote/2.jpg"}
            %strong
              Качественную
              %br
              проработку
              %br
              сценария
          .span3
            %img{title: "", alt: "", src: "../images/promote/1.jpg"}
            %strong
              Подбор
              %br
              ведущего,
              %br
              аниматоров
          .span3
            %img{title: "", alt: "", src: "../images/promote/3.jpg"}
            %strong
              Оформление,
              %br
              праздничный
              %br
              декор
          .span3
            %img{title: "", alt: "", src: "../images/promote/5.jpg"}
            %strong
              Фото/
              %br
              видео
              %br
              сьемку
          .span3
            %img{title: "", alt: "", src: "../images/promote/4.jpg"}
            %strong
              Проведение
              %br
              мероприятия
          .span3
            %img{title: "", alt: "", src: "../images/promote/6.jpg"}
            %strong Транспорт
          .span3
            %img{title: "", alt: "", src: "../images/promote/1.jpg"}
            %strong Кейтеринг
          .span3
            %img{title: "", alt: "", src: "../images/promote/3.jpg"}
            %strong
              Полиграфическую
              %br
              продукцию
    .entrust
      .row-fluid
        .span12.entrust-title
          .entrust-title-text
            Доверьте организацию мероприятия профессионалам
      .entrust-info
        .row
          .span9
            .how-it-work
              Как это работает:
            .how-it-work-item
              %li Вы оставляете заявку или звоните нам
              %li Мы встречаемся с вами, уточняем подробности и ваши желания
              %li Мы готовим 3 варианта сценария интересующего вас мероприятия
              %li Утверждаем сценарий, тщательно прорабатываем детали
              %li Подготовим и проведем мероприятие
          .span3
            форма
        .row
          .how-it-work-result
            Вы получаете позитивные эмоции и отличные отзывы участников
    .feedback
      .row-fluid
        .span12.feedback-title
          .feedback-title-text
            Отзывы наших клиентов
      .row-fluid
        .span12.feedback-info
          #feedbackCarousel.carousel.slide
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#feedbackCarousel"}
              %li{"data-slide-to" => "1", "data-target" => "#feedbackCarousel"}
              %li{"data-slide-to" => "2", "data-target" => "#feedbackCarousel"}
            .carousel-inner
              .item.active
                %img{title: "", alt: "", src: "../images/feedback/otzyvy1.jpg"}
                .caption
                  .text
                    Это было очень необычно, азартно и весело! Понравилось всем, даже самым скептически настроенным! Я в восторге, друзья тоже!Праздник удался на все 100% Ребята, еще раз огромное Вам СПАСИБО!!!
                  %a.more{ href: "/" } Алена Протасевич. Архитектор. Квест на день рождения.
              .item
                %img{title: "", alt: "", src: "../images/feedback/otzyvy2.jpg"}
                .caption
                  .text
                    Ребята готовили для нас ВелоКвест. Сделали все качественно и в срок. На финише у участников велоквеста были только положительные отзывы. Приятно работать с ними, оперативно реагируют на все пожелания.
                  %a.more{ href: "/" } Иван Ярмощук. Руководитель проекта "Hub". ВелоКвест.
              .item
                %img{title: "", alt: "", src: "../images/feedback/otzyvy3.jpg"}
                .caption
                  .text
                    На протяжении нескольких лет сотрудничаю с ребятами из агенства "Clever".
                    %br
                    Они готовили для нас несколько велоквестов, пешеходный квест, автоквест.
                    %br
                    Все эти мероприятия прошли на высоком уровне.
                  %a.more{ href: "/" } Наталья Яшина, PR-менеджер ОАО "МЕГАФОН"
            %a.left.carousel-control{"data-slide" => "prev", href: "#feedbackCarousel"} <
            %a.right.carousel-control{"data-slide" => "next", href: "#feedbackCarousel"} >
    .row-fluid.footer-block-line
    .row-fluid.footer-block
      .span4
        1
      .span4
        .logo
      .span4
        3
    %footer
      Clever © 2014